



spring:
  application:
    name: message

eureka:
  client:
    register-with-eureka: true  # 开启 客户端注册功能
    service-url:
      bj-zone1: http://localhost:8761/eureka
      bj-zone2: http://localhost:8762/eureka
      bj-zone3: http://localhost:8763/eureka
    fetch-registry: true  #  开启 客户端 拉取注册表的功能
    prefer-same-zone-eureka: true
    availability-zones:
      bj-zone1: http://localhost:8761/eureka
      bj-zone2: http://localhost:8762/eureka
      bj-zone3: http://localhost:8763/eureka
  instance:
    prefer-ip-address: true


